.first-page-container {
  width: 100%;
  height: 100vh; 
  margin: 0;
  padding: 0;
}
.first-container {
    /* background: rgb(12,63,47);
    background: linear-gradient(0deg, rgba(12,63,47,1) 0%, rgba(12,63,47,1) 50%, rgba(117,180,192,1) 100%);  */
 
    background-image: url("background_body.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.first-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(48,29,30, 0.25);
    backdrop-filter: brightness(60%);
    z-index: 0;
    pointer-events: none;

   
}
.quote-first-page-container {
  
  position: relative; /* поверх затемнения */
  z-index: 1;
  text-align: center;
  color: #fff;
 
  padding: 0 20px;
  display: flex;
  justify-content:center;   /* центрирование горизонтально */
  align-items: center;       /* центрирование вертикально */
  flex-direction: column;
  height: 100%; 
  transform: translateY(140px);         
}
.quote-first-page {
    font-size: 2.5rem;
     font-weight: 600;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.6); 
    max-width: 700px;          /* ограничиваем ширину текста */
  margin: 0 auto 60px auto;  /* центрируем и ставим отступ снизу */
  line-height: 1.4;
  
}


.btn-join button {
  padding: 24px 160px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  background: #301D1E;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}
.btn-join button:hover {
  background: #0F4336;
 border: none;
  color: #fff;
}


@media (min-width: 1550px) {
    
    .btn-join {
        margin-bottom: 20%;
    }
}


@media (max-width: 1252px) {
    .first-page-container{
         height: 60vh;
    }
    .first-container {
        height: 66vh;
    }
    .quote-first-page-container {
        transform:none;  
    }
}

@media (max-width: 1101px) {

    .btn-join {
        margin-bottom: 10%;

    }
    .img-plakhina {
        height: 100%;
    }
}
@media (max-width: 986px){
    /* .first-container {
        height: 50vh;
    } */
    .img-plakhina {
        height: 100%;
    }
}

@media (max-width: 768px) {
    .first-container {
        height: 40vh;
    }
    .quote-first-page {
        font-size: 1.5rem;
         max-width: 90%;
    }
}
@media (max-width: 576px) {
    .quote-first-page-container {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 0;
    }
    .btn-join button {
        margin-bottom: 4%;
        padding: 24px 60px;
    }
    .first-container {
        height: 70vh;
    }
     .first-page-container{
         height: 60vh;
    }
}