.first-container {
    background: rgb(235,229,230);
    background: linear-gradient(0deg, rgba(235,229,230,1) 0%, rgba(235,229,230,1) 50%, rgba(117,180,192,1) 100%); 
    height: 80vh;
    margin: 0 !important;
    display: flex;
    justify-content: center;
}
.quote-first-page-container {
    width: 50%;
}
.quote-first-page {
    font-size: 2rem;
    color: #75B4C0;
    margin-right: 10px;
    margin-bottom: 20px;
}
.img-container {
    display: flex;
    justify-content: center;
    width: 40%;
    /* max-width: 600px;  */
    /* margin: 0 auto; */
}
.img-plakhina {
    display: block;
    width: auto;
    height: 100%;
    object-fit:contain;
    object-position: top;
    margin: 0 auto;
}

.btn-join {
    margin-top: 10%;
}


@media (min-width: 1550px) {
    
    .btn-join {
        margin-bottom: 20%;
    }
}


@media (max-width: 1252px) {
    .first-container {
        height: 66vh;
    }
}

@media (max-width: 1101px) {

    .btn-join {
        margin-bottom: 10%;
    }
}
@media (max-width: 986px){
    .first-container {
        height: 50vh;
    }
}

@media (max-width: 768px) {
    .first-container {
        height: 40vh;
    }
    .quote-first-page {
        font-size: 1.5rem;
    }
}
@media (max-width: 576px) {
    .quote-first-page-container {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 0;
    }
    .btn-join {
        margin-bottom: 4%;
    }
    .first-container {
        height: 70vh;
    }
}