.gallery-image-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.gallery-image {
    max-width: 50%;
   
}
.gallery-btn-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.gallery-btn {
    background-color: #F0C0B5;
    color: #FFFFFF;
    font-size: 24px;
    border: 1px solid #F0C0B5;
    border-radius: 20px;
    padding: 14px 60px ;
    text-align: center;
    width: 40%;
}
.gallery-btn:hover {
    border: 1px solid #F0C0B5;
    background-color: #ffffff;
    color: #F0C0B5;
}
@media (max-width: 992px) {
    .gallery-btn {
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .gallery-btn {
        font-size: 18px;
        padding: 10px 20px ;
    }
    .gallery-image {
        max-width: 100%;
    }
}