.gallery-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  gap: 2rem;
}

.gallery-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 700px;
}

.gallery-image {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.02);
}

/* Стрелки */
.gallery-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: transform 0.3s ease;
}

.gallery-btn:hover {
  transform: scale(1.15);
}

.arrow-icon svg {
  width: 36px;
  height: 36px;
  stroke: #0f4336;
  transition: stroke 0.3s ease;
}

.gallery-btn:hover svg {
  stroke: #2a7d67;
}

.flipped {
  transform: rotate(180deg);
}



@media (max-width: 992px) {
    .gallery-btn {
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .gallery-btn {
        font-size: 18px;
        padding: 10px 20px ;
    }
    .gallery-image {
        max-width: 100%;
    }
    .gallery-wrapper {

  gap: 0rem;
}

}
