.diploma-mgu-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    
}
.diploma-section-title {
    font-size: 48px;
    color: #438644;
    margin-top: 76px;
}
.diploma-title {
    font-size: 32px;
    color: #F0C0B5;
}
.mgu-description {
    font-size: 32px;
}
.diploma-description {
    font-size: 24px;
}
.open-modal-btn-container {
    display: flex;
    justify-content: center;
}
.open-modal-btn {
    border: 1px solid #438644;
    border-radius: 20px;
    padding: 24px 160px;
    background-color: transparent;
    margin-top: 94px;
    font-size: 24px;
    color: #438644;
}
.open-modal-btn:hover {
    border: 1px solid #F0C0B5;
    background-color: #ffffff;
    color: #F0C0B5;
}
@media (max-width: 992px) {
    .diploma-section-title {
        font-size: 38px;
        margin-top: 56px;
    }
    .mgu-description {
        font-size: 30px;
    }
    .diploma-description {
        font-size: 20px;
    }
    .open-modal-btn {
        padding: 14px 100px ;
        margin-top: 74px;
        font-size: 20px;
    }
}
@media (max-width: 576px) {
    .diploma-section-title {
        font-size: 28px;
        margin-top: 46px;
    }
    .mgu-description {
        font-size: 24px;
    }
    .diploma-title {
        font-size: 28px;
    }
    .diploma-description {
        font-size: 18px;
    }
    .open-modal-btn {
        margin-bottom: 20px;
        padding: 6px 60px ;
          
    }
}