

/* Navbar */

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.myNavbar-container {
  /* display: flex;
  justify-content: space-around; */
  margin-top: 1%;
}
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.burger-menu div {
  width: 40px;
  height: 2px;
  background-color: #0F4336;
  margin: 5px;
  transition: all 0.3s ease;
}
.nav-links-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
} 
.logo-bioplakhina {
  font-size: 28px;
  text-decoration: none;
  background: #301D1E;
  background: linear-gradient(to bottom, #301D1E 0%, #0F4336 82%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 6px;
}

/* Button */

.buttonOne {
  background-color: #0f4336;;
  color: #FFFFFF;
  font-size: 24px;
  border: 1px solid #0f4336;
  border-radius: 20px;
  padding: 24px 160px;
  text-align: center;
}
.buttonOne:hover {
  border: 1px solid #0f4336;
  background-color: #ffffff;
  color: #301D1E;
}

.lora-regular {
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
}
.lora-medium  {
  font-family: "Lora", serif;
  font-weight: 500;
  font-style: normal;
}
.lora-italic  {
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: italic;
}
.cormorant-medium {
  font-family: "Cormorant", serif;
  font-weight: 500;
  font-style: italic;
}
.cormorant-light {
  font-family: "Cormorant", serif;
  font-weight: 300;
  font-style: normal;
}

/* About */

.title-container {
  display: flex;
  justify-content: space-between;
}
.title-text {
  font-size: 40px;
  color: #301D1E;
}
.line-title {
  border-bottom: 1px solid #301D1E;
  width:50%;
  height: 100%;
  margin-top: 2%;
}
.main-section-title {
  font-size: 48px;
  color: #0F4336;
  margin-top: 76px;
  margin-bottom: 76px;
}

@media (max-width: 992px) {
  .buttonOne {
    font-size: 20px;
    padding: 20px 80px ;
  }
  .main-section-title {
    font-size: 38px;
    margin-top: 56px;
    margin-bottom: 56px;
  }
  
}
@media (max-width: 768px) {
  .logo-bioplakhina {
    font-size: 24px;
  }
  .nav-link {
    font-size: 16px;
  }
  .buttonOne {
    font-size: 18px;
    padding: 20px 80px ;
  }
  .title-text {
    font-size: 30px;
    color: #301D1E;
  }
}
@media (max-width: 576px) {
  .nav-links-container {
       display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px; /* расстояние от верха navbar */
      left: 0;
      right: 0;
      background-color: #ffffff;
      padding: 20px 0;
      gap: 15px;
      opacity: 0;
      transform: translateY(-20px);
      pointer-events: none;
      transition: all 0.3s ease;
      z-index: 1000;
  }
  .nav-links-container.open {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
  }

  .burger-menu {
      display: flex;
  }
 

  .burger-menu.open div:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger-menu.open div:nth-child(2) {
      opacity: 0;
  }

  .burger-menu.open div:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-links-container.open {
      display: flex;
  }
  .buttonOne {
    margin-bottom: 20px;
    padding: 16px 60px ;
  }
  .main-section-title {
    margin-top: 46px;
    margin-bottom: 46px;
    font-size: 28px;
  }
  .title-text {
    font-size: 24px;
  }

}